#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

body::-webkit-scrollbar-track {
  background-color: lightgray;
}

/* Hide scrollbar in WebKit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* General hide scrollbar styling */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
